$yellow-color: #FFB800;
$title-color: #0C122D;
$text-color: #575C74;
$button-blue-color: #1B5FC1;
$white-color: #FFFFFF;
$black-color: #000000;
$bg-color: #F7FDFB;
$logo-color: #C4C4C4;
$grey-color: #E0E0E0;
$footer-bg-color: #ECF0F5;
$footer-line: #E1E6EC;