@use "./colors" as *;
@use "./mixins" as *;

%font-rubik-medium {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%font-rubik-bold {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

%font-open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

%font-open-sans-semibold {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

%font-open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

%h1 {
  @extend %font-rubik-bold;

  font-size: 48px;
  line-height: 1.14;
  color: $title-color;

  @include on-tablet {
    font-size: 56px;
  }

  @include on-large-desktop {
    font-size: 72px;
  }
}

%h2 {
  @extend %font-rubik-bold;

  font-size: 36px;
  line-height: 1.4;
  color: $title-color;

  @include on-tablet {
    font-size: 40px;
  }

  @include on-large-desktop {
    font-size: 48px;
  }
}

%h3 {
  @extend %font-open-sans-bold;

  font-size: 18px;
  line-height: 1.5;
  color: $title-color;

  @include on-large-desktop {
    font-size: 20px;
  }
}

%p {
  @extend %font-open-sans-regular;

  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
}
