@use "../../styles/utils" as *;

.certification {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: relative;
  z-index: 5;
  background-color: $bg-color;

  @include container;

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include on-desktop {
    gap: 50px;
  }

  @include on-large-desktop {
    gap: 87px;
  }

  &__text {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%);
      width: 100px;
      height: 1px;
      background-color: $yellow-color;

      @include on-tablet {
        top: 50%;
        left: auto;
        transform: none;
        right: -80%;
      }

      @include on-desktop {
        width: 147px;
        right: -110%;
      }
    }
  }

  &__icons {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include on-tablet {
      flex-direction: row;
    }

    @include on-desktop {
      gap: 80px;
    }

    @include on-large-desktop {
      gap: 100px;
    }
  }

  &__icon {
    @include hover(transform scale(1.2), filter hue-rotate(160deg));
  }
}
