@use "../../styles/utils" as *;

.contacts {
  background-color: $yellow-color;
  padding-block: 40px;

  &__box {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include container;

    @include on-tablet {
      flex-direction: row;
      justify-content: center;
      gap: 20px;
    }

    @include on-desktop {
      gap: 70px;
    }

    @include on-large-desktop {
      gap: 130px;
    }
  }

  &__article {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        width: 52px;
        height: 1px;
        background-color: $grey-color;

        @include on-tablet {
          display: none;
        }
      }
    }

    &:not(:last-child) {
      @include on-tablet {
        border-right: 1px solid $grey-color;
        padding-right: 20px;
      }

      @include on-desktop {
        padding-right: 70px;
      }

      @include on-large-desktop {
        padding-right: 130px;
      }
    }
  }

  &__title {
    @extend %font-rubik-medium;

    font-size: 20px;
    line-height: 1.5;
    color: $title-color;
  }

  &__text {
    font-size: 15px;
    line-height: 1.3;
    color: $title-color;

    @include hover(color $button-blue-color);
  }

  &__icon {
    color: $button-blue-color;
    font-size: 30px;

    @include hover(color $title-color);
  }
}
