@use "../../styles/utils" as *;

.intro {
  display: flex;
  gap: 40px;

  &__text-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__masks {
    @extend %font-rubik-medium;

    font-size: 14px;
    line-height: 2.1;
    color: $yellow-color;
  }

  &__title {
    margin-top: 20px;

    @include on-large-desktop {
      margin-top: 30px;
    }
  }

  &__text {
    margin-top: 20px;

    @include on-tablet {
      margin-top: 30px;
    }

    @include on-large-desktop {
      margin-top: 40px;
    }
  }

  &__buttons {
    margin-top: 32px;
    display: flex;
    gap: 20px;

    @include on-tablet {
      margin-top: 44px;
    }

    @include on-large-desktop {
      margin-top: 54px;
    }
  }

  &__photo {
    flex: 1;
    display: flex;
    width: 100%;
  }

  &__bg-box {
    display: none;
    position: absolute;
    top: 0;
    border-bottom-left-radius: 150px;
    background-color: $white-color;
    opacity: 15%;
    border-bottom-left-radius: 150px;

    @include on-desktop {
      display: block;
    }

    @include on-large-desktop {
      right: 0;
    }
  }

  &__bg {
    border-bottom-left-radius: 150px;

    @include on-desktop {
      height: 669px;
    }

    @include on-large-desktop {
      height: 891px;
    }
  }

  &__mask-box {
    position: relative;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    overflow: hidden;
    height: 450px;

    @include on-desktop {
      margin-left: 48px;
      height: 558px;
    }

    @include on-large-desktop {
      height: 744px;
    }
  }

  &__mask {
    display: none;
    width: 100%;
    object-fit: cover;
    height: 100%;

    @include hover(transform scale(1.1));

    @include on-tablet {
      display: block;
    }
  }
}
