@use "../../styles/utils" as *;

.main {
  position: relative;

  &__about {
    margin-top: 80px;

    @include on-tablet {
      margin-top: 111px;
    }
  }

  &__info {
    margin-top: 80px;
  }

  &__certification {
    margin-top: 80px;
  }

  &__reasons {
    margin-top: 80px;
  }

  &__reviews {
    margin-top: 80px;
  }

  &__step {
    margin-top: 80px;
  }

  &__contacts {
    margin-top: 120px;
  }
}
