@use "../../styles/utils" as *;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white-color;
  height: 100vh;
  width: 100%;
  z-index: 10;

  transition: all $effect-duration ease;
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;

  @media (min-width: 1024px) {
    box-sizing: border-box;
    position: relative;
    background-color: transparent;
    height: auto;
    opacity: 1;
    transform: none;
    pointer-events: all;
    width: auto;
  }

  &:target {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  &__close {
    position: absolute;
    right: 0;
    padding-top: 20px;

    @include container;
    @include on-desktop {
      display: none;
    }
  }
}
